@font-face {
	font-family: 'BebasNeueRegular';
	src: url('../fonts/BebasNeue-webfont.eot');
	src: url('../fonts/BebasNeue-webfont.woff') format('woff'), url('../fonts/BebasNeue-webfont.ttf') format('truetype'), url('../fonts/BebasNeue-webfont.svg#webfontkEV7KIuF') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'YanoneKaffeesatzBold';
	src: url('../fonts/YanoneKaffeesatz-Bold-webfont.eot');
	src: url('../fonts/YanoneKaffeesatz-Bold-webfont.woff') format('woff'), url('../fonts/YanoneKaffeesatz-Bold-webfont.ttf') format('truetype'), url('../fonts/YanoneKaffeesatz-Bold-webfont.svg#webfontMOa0QYZL') format('svg');
	font-weight: normal;
	font-style: normal;
}


* {
	padding:0px;
	margin:0px;
	font-family: "BebasNeueRegular", sans-serif;
}

h1 {
	padding:25px 0px;
	text-align:center;
	font-weight:bold;
	font-size:5em;
	font-family: "YanoneKaffeesatzBold", sans-serif;
	border-bottom:1px solid #aaa;
	margin-bottom:40px;
}
 
#footer {
	border-top:1px solid #aaa;
	color:#aaa;
	margin-top:40px;
	padding:20px 0px;
	text-align:center;
}
 
 #footer p {
	font-family: "YanoneKaffeesatzBold", sans-serif;
	font-size:1.2em;
 }
